<div class="row">
  <div class="col s12 l4">
     <div class="row">
        <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img src="img/firework.jpg">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Congratulations</span>
        <p>See, that wasn't so hard, was it? You and your pension look great together!</p>
      </div>
     
  </div>
  </div>
</div>
  </div>

<div class="row">
  <div class="col s12">
    <a ui-sref="user" class="btn btn-block btn-info green darken-1">
    That looks great!<span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
  </div>

<div class="row">
    <div class="col s12">
    <a ui-sref="home" class="btn btn-block grey darken-1" style="">
    Actually, can I see the rest?<span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>