<!-- @author ctola-->



<div class="row">
    <div class="col s12 title">
        <h4>Last step!</h4>
    </div>
    <div class="col s12 input">
      <div input-field>
        <input type="text" ng-model="vm.title" length="150">
        <label>What's your address?</label>
      </div>
    </div>
    <div class="col s12 input">
      <div input-field>
        <input type="text" ng-model="vm.title" length="150">
        <label>IBAN</label>
      </div>
    </div>
    <div class="col s12 input">
      <div input-field>
        <input type="text" ng-model="vm.title" length="150">
        <label>BIC</label>
      </div>
    </div>

    <div class="col s12">
    <a ui-sref="congrats" class="btn btn-block btn-info green darken-1">
    Start Saving!<span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>

