<div class="row">
<div class="col s12 title">
        <h4>I think I've found the right choice for you!</h4>
    </div>
  <div class="col s12 l4">
     <div class="row">
        <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="img/iris.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">The IRIS Fund<i class="material-icons right">more_vert</i></span>
        <p>IRIS is theplan for you! The perfect balance of safety and reward, IRIS will stay with you until retirment, always choosing the best investment for you.</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Meet IRIS<i class="material-icons right">close</i></span>
      <p>You're young, and the time to earn money on your savings is now! IRIS places your savings in investments where they'll earn great rewards today, then gradually move to safer products to lock in your rewards as you approach retirement.

      THe entire process is handled by our expert fund managers, who will quide your investment from today until the day you retire, making sure your money is in the right place at the right time.</p>
      <p><a href="#">See the full plan</a></p>
    </div>
  </div>
  </div>
</div>
  </div>

<div class="row">
  <div class="col s12">
    <a ui-sref="user" class="btn btn-block btn-info green darken-1">
    That looks great!<span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
  </div>

<div class="row">
    <div class="col s12">
    <a ui-sref="home" class="btn btn-block grey darken-1" style="">
    Actually, can I see the rest?<span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>