<div class="row">
  <div class="col s8 offset-s2">
    <h4>Target Your Saving</h4>
  </div>
</div>
<div class="row">
<div class="col s12 m7">
<p>We've tailored your plan to make sure you'll be able to retire comfortably at 70% of your current income</p>
<a href="#">Why 70%?</a>
</div>
  <div class="col s12 m7">
  <div class="card horizontal">
      <div class="card-image">
        <img class="activator" src="img/wharf.jpg">
      </div>
      
      <div class="card-content activator">
        <span class="card-title activator grey-text text-darken-4">From €33/month<a class="material-icons right">done</a></span>
        <p>Let your contributions rise as your income does, giving you spending money today as well as tomorrow</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Meet IRIS<i class="material-icons right">close</i></span>
   <p>Our Savings Escalator helps you build habits that reward you for life. As your income rises in the future, your pension contributions automatically rise with it, ensuring you can retire comfortably, without feeling left out today.</p>
    </div>

  </div>
      </div>
<div class="col s12 m7">
  <div class="card horizontal">
      <div class="card-image">
        <img class="activator" src="img/horiz.jpg">
      </div>
      
      <div class="card-content activator">
        <span class="card-title activator grey-text text-darken-4">€292/month<a class="material-icons right">done</a></span>
        <p>If you want to keep your contributions flat, this plan will keep you on track all the way to retirement</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Meet IRIS<i class="material-icons right">close</i></span>
   <p>Our Savings Escalator helps you build habits that reward you for life. As your income rises in the future, your pension contributions automatically rise with it, ensuring you can retire comfortably, without feeling left out today.</p>
    </div>

  </div>
      </div>
      <div class="col s12 m7">
        <div class="collection">
    <a href="#!" class="collection-item red" style="color:white">Watch Out! Your required contributions will rise by 10% if you wait another year! Get on track now!</a>

  </div>
  </div>
          

</div>